<div class="row">
    <div class="col-12">
        <h1>Cadastrar Livro</h1>
    </div>
</div>
<form (ngSubmit)="onSubmit(myForm)" #bookForm="ngForm">
    <div class="form-row">
      <div class="form-group col-md-6">
        <input type="text" class="form-control" id="txtTitle" placeholder="Título">
      </div>
      <div class="form-group col-md-6">
        <select id="slcPublisher" class="form-control">
            <option selected disabled>Editora</option>
            <option *ngFor="let publisher of publishers" value="{{publisher.id}}">
                {{publisher.name}}
            </option>
        </select>
      </div>
    </div>
    <div class="form-group">
        <textarea class="form-control" id="txtDescription" placeholder="Descrição e resenha"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Salvar</button>
</form>
