<div class="row">
  <div class="col-12">
      <h1>Cadastrar Livro</h1>
  </div>
</div>
<form (ngSubmit)="onSubmit(addNewBookForm)" #addNewBookForm="ngForm">
  <div class="form-row">
    <div class="form-group col-md-6">
      <input type="text" class="form-control" id="txtTitle" name="title" placeholder="Título" #titleCtrl="ngModel" ngModel required>
      <span *ngIf="titleCtrl.status === 'INVALID' && titleCtrl.touched">* Campo Obrigatório!</span>
    </div>
    <div class="form-group col-md-6">
      <select id="slcPublisher" class="form-control" name="publisher" ngModel>
          <option selected disabled>Editora</option>
          <option *ngFor="let publisher of publishers" value="{{publisher.id}}">
              {{publisher.name}}
          </option>
      </select>
    </div>
  </div>
  <div class="form-group">
      <textarea class="form-control" id="txtDescription" name="descripton" placeholder="Descrição e resenha" ngModel></textarea>
  </div>
  <button [disabled]="addNewBookForm.status === 'INVALID'" type="submit" class="btn btn-primary">Salvar</button>
</form>